<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://christineturpen.netlify.com">Christine Turpen</a>. A student from the UC Berkeley Coding Boot Camp Extension, who needed help to become a full-stack web developer. 
  </p>
  <p>
    After following lessons to create Splurty, she was then able to start creating smaller programs on her own for freelancing projects, and for her school projects for the University of San Diego. 
  </p>
  <p>
    The UC Berkeley extension really helped her overcome challemging obstacles on her own, and pushed her to become the full stack web developer she always wanted to be!
  </p>
  <p>
    If you would like to learn how to code just like Christine - take your first steps <a target="_blank" href="https://online.bootcampspot.com"> here</a>!
  </p>

  <br />
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Christine Turpen</h2>
      <br />
      <p>
        Christine is a full time student at the University of San Diego majoring in Computer Science with a minor in Mathematics. During the summer of 2019, she decided to take a coding bootcamp to help her further advance her knowledge with computer programming. Now, she has become a full-stack web developer before graduating college and has freelanced several projects whilst pursuing her major.
      </p>
    </div>
  </div>
</div>

  <br class="clear" />
<br />
<br />
<br />
<br />
