<h4>
  <span>SPLURTY / No. <%= @quote.id %></span>
  Come here to find the best restauraunts in San Diego!
</h4>

<br />

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />